aiofiles
aiogram
aiohttp
aiosignal
annotated-types
async-timeout
asyncpg
attrs
certifi
et-xmlfile
frozenlist
gino
idna
magic-filter
multidict
numpy
openpyxl
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
six
SQLAlchemy
typing_extensions
tzdata
XlsxWriter
yarl
